@font-face {
    font-family: 'Stack Sans Headline';
    src: url('StackSansHeadline-Bold.woff2') format('woff2'),
        url('StackSansHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stack Sans Headline';
    src: url('StackSansHeadline-ExtraLight.woff2') format('woff2'),
        url('StackSansHeadline-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Stack Sans Headline';
    src: url('StackSansHeadline-SemiBold.woff2') format('woff2'),
        url('StackSansHeadline-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Stack Sans Headline';
    src: url('StackSansHeadline-Light.woff2') format('woff2'),
        url('StackSansHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stack Sans Headline';
    src: url('StackSansHeadline-Regular.woff2') format('woff2'),
        url('StackSansHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stack Sans Headline';
    src: url('StackSansHeadline-Medium.woff2') format('woff2'),
        url('StackSansHeadline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

